services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: showcode-backend
    env_file: ./backend/.env
    volumes:
      - ./rsa_public.pem:/app/rsa_public.pem
    networks:
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=PathPrefix(`/analyze`) || PathPrefix(`/.well-known`)"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: showcode-frontend
    depends_on:
      - backend
    networks:
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"

networks:
  app-network:
    external: true
    driver: bridge
