services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: showcode-backend
    ports:
      - "8000:8000"
    env_file: ./backend/.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./rsa_public_key.pem:/app/rsa_public_key.pem
    networks:
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=PathPrefix(`/analyze`) || PathPrefix(`/.well-known`)"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: showcode-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"

networks:
  app-network:
    external: true
    driver: bridge
